* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Titillium Web',
        sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    padding-left: 70%;
}

.navbar .menu-width {
    display: flex;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: rgb(12, 3, 3);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}