body {
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;

}


p {
    text-align: justify;
}

/*Protfolio Menu Section Style Start*/
.navbar {
    padding: 30px 0;
    padding-left: 70%;

}

.navbar .menu li {
    list-style: none;
    display: inline-block;
    color: rgb(12, 3, 3);
    font-size: 16px;
    margin-left: 25px;
    font-weight: bold;
}

.about1 {
    height: 550px;
}

.about2 {
    height: 550px;
}

/*Protfolio Menu Section Style Start*/

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    line-height: 23px;

}

.name-heighlight {
    color: #FF8367;
}

h1 {
    font-size: 60px;
    text-transform: uppercase;
}

.half-width p {
    text-align: justify;
    font-size: 18px;
    color: rgb(156, 161, 161);
}

.half-width img {
    width: 80%;
}

.button-url {
    background-image: linear-gradient(45deg, #ffa07a, tomato);
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;


}

.project-work {
    background-color: #F8F9FC;
    height: 750px;
    margin: auto;
    padding-bottom: 120px;
}

.project-heading {
    width: 100%;
    text-align: center;
    padding-top: 100px;

}


.project-grid {
    max-width: 1400px;
    margin: 100px;


}

.project-grid .item {
    width: 30%;
    background: white;
    display: inline-block;
    padding: 20px;
    margin-left: 25px;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 10px 10px 40px rgb(202, 198, 198);



}

.project-grid .item img {
    width: 100%;
    height: auto;
}

.project-grid .item p {
    color: rgb(156, 161, 161);
}

.services {
    padding: 100px 100px;
    margin: auto;
}

.services-heading {
    width: 100%;
    text-align: center;
}

.services-grid {
    max-width: 1400px;
    margin: auto;

}

.services-grid .services-item {
    width: 30%;
    background: #FF8367;
    display: inline-block;
    padding: 20px;
    margin-left: 25px;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 10px 10px 40px grey;
}

.services-grid .services-item img {
    width: 50%;
    height: auto;
    margin-left: 25%;


}

.services-item h2 {
    text-align: center;
}

.inquery {
    height: 300px;
}

.content-box {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
    background: url("images/button-box.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 35px;
}

.content-box h1 {
    float: left;
    color: azure;
    margin-left: 5%;
}

.content-box a {
    float: right;
    margin-top: 75px;
    margin-right: 5%;


}

.contact-content {
    text-align: center;
    line-height: 15px;
    height: 200px;

}

.contact-content h1 {
    font-size: 30px;
    text-transform: lowercase;
}

.contact-content h2 {
    text-transform: uppercase;
    color: rgb(191, 194, 194);
}

.icon img {
    width: 2%;
    height: auto;
    padding: 5px;
}

footer {
    text-align: center;
    font-weight: bold;
    padding: 20px 20px;
    background: linear-gradient(to right, #fc4a1a, #f7b733);

}